@import "tailwindcss";

/* Reset Vite template styles */
html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* IMPORTANT: remove flex centering */
  background-color: #f6f9ff;
  color: #0f172a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
